@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Cabin+Condensed:600,400|Roboto+Slab:400,700|Ubuntu+Mono:400,700);
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 106, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 25, ../_sass/screen.sass */
table {
  font-size: 0.75em;
  line-height: 2em;
  border: 1px solid black;
}
/* line 2, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
table th {
  text-align: center;
  font-weight: bold;
}
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
table td,
table th {
  padding: 2px;
}
/* line 8, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
table td.numeric,
table th.numeric {
  text-align: right;
}
/* line 16, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
table th, table td {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left-width: 0;
  border-top-width: 0;
}
/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
table th:last-child, table td:last-child {
  border-right-width: 0;
}
/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
table th.last, table td.last {
  border-right-width: 0;
}
/* line 33, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
table tbody tr:last-child th, table tbody tr:last-child td, table tfoot tr:last-child th, table tfoot tr:last-child td {
  border-bottom-width: 0;
}
/* line 37, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
table tbody tr.last th, table tbody tr.last td, table tfoot tr.last th, table tfoot tr.last td {
  border-bottom-width: 0;
}
/* line 6, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
table thead th {
  border-bottom: 1px solid black;
}
/* line 9, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
table tfoot th, table tfoot td {
  border-top: 1px solid black;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
table th:first-child {
  border-right: 1px solid black;
}
/* line 30, ../_sass/screen.sass */
table td {
  text-align: center;
}
/* line 32, ../_sass/screen.sass */
table td.yes {
  background-color: #90ff90;
}
/* line 34, ../_sass/screen.sass */
table td.no {
  background-color: #ff9090;
}
/* line 37, ../_sass/screen.sass */
table tbody th {
  text-align: left;
}
/* line 40, ../_sass/screen.sass */
table tr td:last-child {
  text-align: left;
}
/* line 42, ../_sass/screen.sass */
table tr th:last-child {
  text-align: left;
}

/* line 46, ../_sass/screen.sass */
img.icon {
  height: 16px;
}

/* line 49, ../_sass/screen.sass */
img#face {
  float: right;
  display: relative;
  width: 6.5625em;
  height: 6.5625em;
  margin-left: 1em;
  margin-top: 0.4em;
}

/* line 57, ../_sass/screen.sass */
img#dsw {
  float: left;
  display: relative;
  width: 6.5625em;
  margin-right: 1em;
  margin-top: 0.4em;
}

/* line 64, ../_sass/screen.sass */
img#book {
  float: right;
  display: relative;
  width: 7.4em;
  margin-left: 1em;
  margin-top: 0.4em;
}

/* line 71, ../_sass/screen.sass */
em {
  font-style: italic;
}

/* line 74, ../_sass/screen.sass */
strong {
  font-weight: bold;
}

/* line 77, ../_sass/screen.sass */
div.post > ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 3em;
}
/* line 81, ../_sass/screen.sass */
div.post > ul > li {
  padding: 0.1em;
}

/* line 84, ../_sass/screen.sass */
div.post > ol {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 3em;
}
/* line 88, ../_sass/screen.sass */
div.post > ol > li {
  padding: 0.1em;
}

/* line 91, ../_sass/screen.sass */
html, body {
  height: 100%;
}

/* line 94, ../_sass/screen.sass */
body {
  background-color: #fff;
  font-family: "Roboto Slab", "ff-tisa-web-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  text-align: center;
  color: #111;
}

/* line 100, ../_sass/screen.sass */
h1, h2, h3 {
  font-family: "Cabin Condensed", sans-serif;
  font-weight: 600;
}

/* line 105, ../_sass/screen.sass */
h1 {
  font-size: 3.25em;
  line-height: 1.38462em;
}

/* line 108, ../_sass/screen.sass */
h2 {
  font-size: 1.75em;
  line-height: 1.71429em;
}

/* line 111, ../_sass/screen.sass */
h3 {
  font-size: 1.375em;
  line-height: 2.18182em;
}

/* line 118, ../_sass/screen.sass */
p {
  margin: 1em 0;
}

/* line 121, ../_sass/screen.sass */
a {
  color: #e08105;
}

/* line 124, ../_sass/screen.sass */
#site {
  text-align: justify;
  width: 42em;
  margin: 2em auto 2em;
  line-height: 1.5em;
  padding-bottom: 3em;
}

/* line 131, ../_sass/screen.sass */
#header {
  text-transform: lowercase;
  margin-bottom: 3em;
}
/* line 134, ../_sass/screen.sass */
#header a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #000000;
  cursor: pointer;
}
/* line 6, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
#header a:active, #header a:focus {
  outline: none;
}
/* line 18, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
#header a:visited {
  color: #000000;
}
/* line 21, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
#header a:focus {
  color: #000000;
}
/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
#header a:hover {
  color: #fa9b1e;
}
/* line 27, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
#header a:active {
  color: #fa9b1e;
}

/* line 140, ../_sass/screen.sass */
#description {
  position: relative;
  float: left;
  font-family: "Cabin Condensed", sans-serif;
  color: gray;
}

/* line 147, ../_sass/screen.sass */
#social {
  position: relative;
  float: right;
}
/* line 150, ../_sass/screen.sass */
#social > ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 62, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
#social > ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 49, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
#social > ul li:first-child {
  padding-left: 0;
}
/* line 50, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
#social > ul li:last-child {
  padding-right: 0;
}
/* line 52, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
#social > ul li.last {
  padding-right: 0;
}
/* line 152, ../_sass/screen.sass */
#social > ul > li a {
  font-family: "Cabin Condensed", sans-serif;
  font-weight: 600;
  margin-left: 0.55em;
}

/* line 157, ../_sass/screen.sass */
.twitter-share-button {
  margin-left: 1em;
  margin-top: 0.1em;
}

/* line 161, ../_sass/screen.sass */
.twitter-follow-button {
  margin-left: 0em;
  margin-top: 0.1em;
}

/* line 165, ../_sass/screen.sass */
.date {
  color: gray;
  font-family: "Cabin Condensed", sans-serif;
  position: relative;
  float: left;
}

/* line 172, ../_sass/screen.sass */
.posts .date {
  font-family: "Roboto Slab", "ff-tisa-web-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  width: 7em;
}

/* line 176, ../_sass/screen.sass */
li > code, p > code {
  font-family: "Ubuntu Mono";
  background-color: #ddd;
  padding: 0.15em;
  -moz-border-radius: 0.25em / 0.25em;
  -webkit-border-radius: 0.25em 0.25em;
  border-radius: 0.25em / 0.25em;
}

/* line 186, ../_sass/screen.sass */
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* line 194, ../_sass/screen.sass */
div.highlighter-rouge {
  -moz-border-radius: 0.5em / 0.5em;
  -webkit-border-radius: 0.5em 0.5em;
  border-radius: 0.5em / 0.5em;
  font-size: 0.875em;
  line-height: 1.71429em;
  line-height: 16px;
  font-family: "Ubuntu Mono";
  background-color: #444444;
  padding: 0.5em 0.75em;
}
/* line 202, ../_sass/screen.sass */
div.highlighter-rouge code, div.highlighter-rouge pre {
  color: #fdce93;
}
/* line 205, ../_sass/screen.sass */
div.highlighter-rouge .hll {
  background-color: #222;
}
/* line 207, ../_sass/screen.sass */
div.highlighter-rouge .c {
  color: #7f9f7f;
}
/* line 209, ../_sass/screen.sass */
div.highlighter-rouge .err {
  color: #e37170;
  background-color: #3d3535;
}
/* line 212, ../_sass/screen.sass */
div.highlighter-rouge .g {
  color: #7f9f7f;
}
/* line 214, ../_sass/screen.sass */
div.highlighter-rouge .k {
  color: #f0dfaf;
}
/* line 216, ../_sass/screen.sass */
div.highlighter-rouge .l {
  color: #ccc;
}
/* line 218, ../_sass/screen.sass */
div.highlighter-rouge .n {
  color: #dcdccc;
}
/* line 220, ../_sass/screen.sass */
div.highlighter-rouge .o {
  color: #f0efd0;
}
/* line 222, ../_sass/screen.sass */
div.highlighter-rouge .x {
  color: #ccc;
}
/* line 224, ../_sass/screen.sass */
div.highlighter-rouge .p {
  color: #41706f;
}
/* line 226, ../_sass/screen.sass */
div.highlighter-rouge .cm, div.highlighter-rouge .cp, div.highlighter-rouge .c1 {
  color: #7f9f7f;
}
/* line 228, ../_sass/screen.sass */
div.highlighter-rouge .cs {
  color: #cd0000;
  font-weight: bold;
}
/* line 231, ../_sass/screen.sass */
div.highlighter-rouge .gd {
  color: #cd0000;
}
/* line 233, ../_sass/screen.sass */
div.highlighter-rouge .ge {
  color: #ccc;
  font-style: italic;
}
/* line 236, ../_sass/screen.sass */
div.highlighter-rouge .gr {
  color: red;
}
/* line 238, ../_sass/screen.sass */
div.highlighter-rouge .gh {
  color: #dcdccc;
  font-weight: bold;
}
/* line 241, ../_sass/screen.sass */
div.highlighter-rouge .gi {
  color: #00cd00;
}
/* line 243, ../_sass/screen.sass */
div.highlighter-rouge .go {
  color: gray;
}
/* line 245, ../_sass/screen.sass */
div.highlighter-rouge .gp {
  color: #dcdccc;
  font-weight: bold;
}
/* line 248, ../_sass/screen.sass */
div.highlighter-rouge .gs {
  color: #ccc;
  font-weight: bold;
}
/* line 251, ../_sass/screen.sass */
div.highlighter-rouge .gu {
  color: purple;
  font-weight: bold;
}
/* line 254, ../_sass/screen.sass */
div.highlighter-rouge .gt {
  color: #0040D0;
}
/* line 256, ../_sass/screen.sass */
div.highlighter-rouge .kc {
  color: #dca3a3;
}
/* line 258, ../_sass/screen.sass */
div.highlighter-rouge .kd {
  color: #ffff86;
}
/* line 260, ../_sass/screen.sass */
div.highlighter-rouge .kn {
  color: #dfaf8f;
  font-weight: bold;
}
/* line 263, ../_sass/screen.sass */
div.highlighter-rouge .kp {
  color: #cdcf99;
}
/* line 265, ../_sass/screen.sass */
div.highlighter-rouge .kr {
  color: #cdcd00;
}
/* line 267, ../_sass/screen.sass */
div.highlighter-rouge .kt {
  color: #00cd00;
}
/* line 269, ../_sass/screen.sass */
div.highlighter-rouge .ld {
  color: #cc9393;
}
/* line 271, ../_sass/screen.sass */
div.highlighter-rouge .m {
  color: #8cd0d3;
}
/* line 273, ../_sass/screen.sass */
div.highlighter-rouge .s {
  color: #cc9393;
}
/* line 275, ../_sass/screen.sass */
div.highlighter-rouge .na {
  color: #9ac39f;
}
/* line 277, ../_sass/screen.sass */
div.highlighter-rouge .nb, div.highlighter-rouge .nc {
  color: #efef8f;
}
/* line 279, ../_sass/screen.sass */
div.highlighter-rouge .no, div.highlighter-rouge .nd {
  color: #ccc;
}
/* line 281, ../_sass/screen.sass */
div.highlighter-rouge .ni {
  color: #c28182;
}
/* line 283, ../_sass/screen.sass */
div.highlighter-rouge .ne {
  color: #c3bf9f;
  font-weight: bold;
}
/* line 286, ../_sass/screen.sass */
div.highlighter-rouge .nf {
  color: #efef8f;
}
/* line 288, ../_sass/screen.sass */
div.highlighter-rouge .nl {
  color: #ccc;
}
/* line 290, ../_sass/screen.sass */
div.highlighter-rouge .nn {
  color: #8fbede;
}
/* line 292, ../_sass/screen.sass */
div.highlighter-rouge .nx, div.highlighter-rouge .py {
  color: #ccc;
}
/* line 294, ../_sass/screen.sass */
div.highlighter-rouge .nt {
  color: #9ac39f;
}
/* line 296, ../_sass/screen.sass */
div.highlighter-rouge .nv {
  color: #dcdccc;
}
/* line 298, ../_sass/screen.sass */
div.highlighter-rouge .ow {
  color: #f0efd0;
}
/* line 300, ../_sass/screen.sass */
div.highlighter-rouge .w {
  color: #ccc;
}
/* line 302, ../_sass/screen.sass */
div.highlighter-rouge .mf, div.highlighter-rouge .mh, div.highlighter-rouge .mi, div.highlighter-rouge .mo {
  color: #8cd0d3;
}
/* line 304, ../_sass/screen.sass */
div.highlighter-rouge .sb, div.highlighter-rouge .sc, div.highlighter-rouge .sd, div.highlighter-rouge .s2, div.highlighter-rouge .se, div.highlighter-rouge .sh, div.highlighter-rouge .si, div.highlighter-rouge .sx, div.highlighter-rouge .sr, div.highlighter-rouge .s1, div.highlighter-rouge .ss {
  color: #cc9393;
}
/* line 306, ../_sass/screen.sass */
div.highlighter-rouge .bp, div.highlighter-rouge .vc {
  color: #efef8f;
}
/* line 308, ../_sass/screen.sass */
div.highlighter-rouge .vg {
  color: #dcdccc;
}
/* line 310, ../_sass/screen.sass */
div.highlighter-rouge .vi {
  color: #ffffc7;
}
/* line 312, ../_sass/screen.sass */
div.highlighter-rouge .il {
  color: #8cd0d3;
}

/* line 315, ../_sass/screen.sass */
blockquote {
  font-size: 1em;
  line-height: 1.5em;
  color: #333333;
  font-style: italic;
  width: 400px;
  margin: 0.2em 0;
  padding: 0.2em 40px;
  line-height: 1.45;
  position: relative;
}

/* line 326, ../_sass/screen.sass */
blockquote > p:before {
  color: #cccccc;
  display: block;
  content: "“";
  font-size: 80px;
  position: absolute;
  left: -15px;
  top: -20px;
  color: #7a7a7a;
}

/* line 336, ../_sass/screen.sass */
blockquote > p {
  margin: 1em 0 0.5em 0;
}

/* line 339, ../_sass/screen.sass */
.left > blockquote {
  margin-left: 0;
  margin-right: auto;
}

/* line 343, ../_sass/screen.sass */
.right > blockquote {
  margin-left: auto;
  margin-right: 0;
}

/* line 348, ../_sass/screen.sass */
blockquote cite {
  color: #999999;
  display: block;
  margin-top: 0px;
}

/* line 353, ../_sass/screen.sass */
blockquote cite:before {
  content: "— ";
}
