@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Cabin+Condensed:600,400|Roboto+Slab:400,700|Ubuntu+Mono:400,700);
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 106, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 25, ../_sass/screen.sass */
table {
  font-size: 0.75em;
  line-height: 2em;
  border: 1px solid black;
}
/* line 2, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
table th {
  text-align: center;
  font-weight: bold;
}
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
table td,
table th {
  padding: 2px;
}
/* line 8, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_scaffolding.scss */
table td.numeric,
table th.numeric {
  text-align: right;
}
/* line 16, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
table th, table td {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left-width: 0;
  border-top-width: 0;
}
/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
table th:last-child, table td:last-child {
  border-right-width: 0;
}
/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
table th.last, table td.last {
  border-right-width: 0;
}
/* line 33, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
table tbody tr:last-child th, table tbody tr:last-child td, table tfoot tr:last-child th, table tfoot tr:last-child td {
  border-bottom-width: 0;
}
/* line 37, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
table tbody tr.last th, table tbody tr.last td, table tfoot tr.last th, table tfoot tr.last td {
  border-bottom-width: 0;
}
/* line 6, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
table thead th {
  border-bottom: 1px solid black;
}
/* line 9, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
table tfoot th, table tfoot td {
  border-top: 1px solid black;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/tables/_borders.scss */
table th:first-child {
  border-right: 1px solid black;
}
/* line 30, ../_sass/screen.sass */
table td {
  text-align: center;
}
/* line 32, ../_sass/screen.sass */
table td.yes {
  background-color: #90ff90;
}
/* line 34, ../_sass/screen.sass */
table td.no {
  background-color: #ff9090;
}
/* line 37, ../_sass/screen.sass */
table tbody th {
  text-align: left;
}
/* line 40, ../_sass/screen.sass */
table tr td:last-child {
  text-align: left;
}
/* line 42, ../_sass/screen.sass */
table tr th:last-child {
  text-align: left;
}

/* line 46, ../_sass/screen.sass */
img.icon {
  height: 16px;
}

/* line 49, ../_sass/screen.sass */
img#face {
  float: right;
  display: relative;
  width: 6.5625em;
  height: 6.5625em;
  margin-left: 2em;
  margin-top: 0.4em;
  border: 2px solid #333;
}

/* line 58, ../_sass/screen.sass */
em {
  font-style: italic;
}

/* line 61, ../_sass/screen.sass */
strong {
  font-weight: bold;
}

/* line 64, ../_sass/screen.sass */
div.post > ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 3em;
}
/* line 68, ../_sass/screen.sass */
div.post > ul > li {
  padding: 0.1em;
}

/* line 71, ../_sass/screen.sass */
div.post > ol {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 3em;
}
/* line 75, ../_sass/screen.sass */
div.post > ol > li {
  padding: 0.1em;
}

/* line 78, ../_sass/screen.sass */
html, body {
  height: 100%;
}

/* line 81, ../_sass/screen.sass */
body {
  background-color: #fff;
  font-family: "Roboto Slab", "ff-tisa-web-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  text-align: center;
  color: #111;
}

/* line 87, ../_sass/screen.sass */
h1, h2, h3 {
  font-family: "Cabin Condensed", sans-serif;
  font-weight: 600;
}

/* line 91, ../_sass/screen.sass */
h1 {
  font-size: 3.15625em;
  line-height: 1.42574em;
}

/* line 94, ../_sass/screen.sass */
h2 {
  font-size: 1.75em;
  line-height: 1.71429em;
}

/* line 97, ../_sass/screen.sass */
h3 {
  font-size: 1.375em;
  line-height: 2.18182em;
}

/* line 104, ../_sass/screen.sass */
p {
  margin: 1em 0;
}

/* line 107, ../_sass/screen.sass */
a {
  color: #e08105;
}

/* line 110, ../_sass/screen.sass */
#site {
  text-align: justify;
  width: 42em;
  margin: 2em auto 2em;
  line-height: 1.5em;
  padding-bottom: 3em;
}

/* line 117, ../_sass/screen.sass */
#header {
  text-transform: lowercase;
  margin-bottom: 3em;
}
/* line 120, ../_sass/screen.sass */
#header a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #000000;
  cursor: pointer;
}
/* line 6, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
#header a:active, #header a:focus {
  outline: none;
}
/* line 18, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
#header a:visited {
  color: #000000;
}
/* line 21, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
#header a:focus {
  color: #000000;
}
/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
#header a:hover {
  color: #fa9b1e;
}
/* line 27, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
#header a:active {
  color: #fa9b1e;
}

/* line 126, ../_sass/screen.sass */
#description {
  position: relative;
  float: left;
  font-family: "Cabin Condensed", sans-serif;
  color: gray;
}

/* line 132, ../_sass/screen.sass */
#social {
  position: relative;
  float: right;
}
/* line 135, ../_sass/screen.sass */
#social > ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 62, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
#social > ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 49, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
#social > ul li:first-child {
  padding-left: 0;
}
/* line 50, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
#social > ul li:last-child {
  padding-right: 0;
}
/* line 52, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
#social > ul li.last {
  padding-right: 0;
}
/* line 137, ../_sass/screen.sass */
#social > ul > li a {
  font-family: "Cabin Condensed", sans-serif;
  font-weight: 600;
  margin-left: 0.5em;
}

/* line 142, ../_sass/screen.sass */
.twitter-share-button {
  margin-left: 1em;
  margin-top: 0.1em;
}

/* line 146, ../_sass/screen.sass */
.twitter-follow-button {
  margin-left: 0em;
  margin-top: 0.1em;
}

/* line 150, ../_sass/screen.sass */
.date {
  color: gray;
  font-family: "Cabin Condensed", sans-serif;
  position: relative;
  float: left;
}

/* line 157, ../_sass/screen.sass */
.posts .date {
  font-family: "Roboto Slab", "ff-tisa-web-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  width: 7em;
}

/* line 161, ../_sass/screen.sass */
li > code, p > code {
  font-family: "Ubuntu Mono";
  background-color: #ddd;
  padding: 0.15em;
  -moz-border-radius: 0.25em / 0.25em;
  -webkit-border-radius: 0.25em 0.25em;
  border-radius: 0.25em / 0.25em;
}

/* line 171, ../_sass/screen.sass */
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* line 179, ../_sass/screen.sass */
div.highlight {
  -moz-border-radius: 0.5em / 0.5em;
  -webkit-border-radius: 0.5em 0.5em;
  border-radius: 0.5em / 0.5em;
  font-size: 0.875em;
  line-height: 1.71429em;
  line-height: 16px;
  font-family: "Ubuntu Mono";
  background-color: #444444;
  padding: 0.5em 0.75em;
}
/* line 187, ../_sass/screen.sass */
div.highlight code, div.highlight pre {
  color: #fdce93;
}
/* line 190, ../_sass/screen.sass */
div.highlight .hll {
  background-color: #222;
}
/* line 192, ../_sass/screen.sass */
div.highlight .c {
  color: #7f9f7f;
}
/* line 194, ../_sass/screen.sass */
div.highlight .err {
  color: #e37170;
  background-color: #3d3535;
}
/* line 197, ../_sass/screen.sass */
div.highlight .g {
  color: #7f9f7f;
}
/* line 199, ../_sass/screen.sass */
div.highlight .k {
  color: #f0dfaf;
}
/* line 201, ../_sass/screen.sass */
div.highlight .l {
  color: #ccc;
}
/* line 203, ../_sass/screen.sass */
div.highlight .n {
  color: #dcdccc;
}
/* line 205, ../_sass/screen.sass */
div.highlight .o {
  color: #f0efd0;
}
/* line 207, ../_sass/screen.sass */
div.highlight .x {
  color: #ccc;
}
/* line 209, ../_sass/screen.sass */
div.highlight .p {
  color: #41706f;
}
/* line 211, ../_sass/screen.sass */
div.highlight .cm, div.highlight .cp, div.highlight .c1 {
  color: #7f9f7f;
}
/* line 213, ../_sass/screen.sass */
div.highlight .cs {
  color: #cd0000;
  font-weight: bold;
}
/* line 216, ../_sass/screen.sass */
div.highlight .gd {
  color: #cd0000;
}
/* line 218, ../_sass/screen.sass */
div.highlight .ge {
  color: #ccc;
  font-style: italic;
}
/* line 221, ../_sass/screen.sass */
div.highlight .gr {
  color: red;
}
/* line 223, ../_sass/screen.sass */
div.highlight .gh {
  color: #dcdccc;
  font-weight: bold;
}
/* line 226, ../_sass/screen.sass */
div.highlight .gi {
  color: #00cd00;
}
/* line 228, ../_sass/screen.sass */
div.highlight .go {
  color: gray;
}
/* line 230, ../_sass/screen.sass */
div.highlight .gp {
  color: #dcdccc;
  font-weight: bold;
}
/* line 233, ../_sass/screen.sass */
div.highlight .gs {
  color: #ccc;
  font-weight: bold;
}
/* line 236, ../_sass/screen.sass */
div.highlight .gu {
  color: purple;
  font-weight: bold;
}
/* line 239, ../_sass/screen.sass */
div.highlight .gt {
  color: #0040D0;
}
/* line 241, ../_sass/screen.sass */
div.highlight .kc {
  color: #dca3a3;
}
/* line 243, ../_sass/screen.sass */
div.highlight .kd {
  color: #ffff86;
}
/* line 245, ../_sass/screen.sass */
div.highlight .kn {
  color: #dfaf8f;
  font-weight: bold;
}
/* line 248, ../_sass/screen.sass */
div.highlight .kp {
  color: #cdcf99;
}
/* line 250, ../_sass/screen.sass */
div.highlight .kr {
  color: #cdcd00;
}
/* line 252, ../_sass/screen.sass */
div.highlight .kt {
  color: #00cd00;
}
/* line 254, ../_sass/screen.sass */
div.highlight .ld {
  color: #cc9393;
}
/* line 256, ../_sass/screen.sass */
div.highlight .m {
  color: #8cd0d3;
}
/* line 258, ../_sass/screen.sass */
div.highlight .s {
  color: #cc9393;
}
/* line 260, ../_sass/screen.sass */
div.highlight .na {
  color: #9ac39f;
}
/* line 262, ../_sass/screen.sass */
div.highlight .nb, div.highlight .nc {
  color: #efef8f;
}
/* line 264, ../_sass/screen.sass */
div.highlight .no, div.highlight .nd {
  color: #ccc;
}
/* line 266, ../_sass/screen.sass */
div.highlight .ni {
  color: #c28182;
}
/* line 268, ../_sass/screen.sass */
div.highlight .ne {
  color: #c3bf9f;
  font-weight: bold;
}
/* line 271, ../_sass/screen.sass */
div.highlight .nf {
  color: #efef8f;
}
/* line 273, ../_sass/screen.sass */
div.highlight .nl {
  color: #ccc;
}
/* line 275, ../_sass/screen.sass */
div.highlight .nn {
  color: #8fbede;
}
/* line 277, ../_sass/screen.sass */
div.highlight .nx, div.highlight .py {
  color: #ccc;
}
/* line 279, ../_sass/screen.sass */
div.highlight .nt {
  color: #9ac39f;
}
/* line 281, ../_sass/screen.sass */
div.highlight .nv {
  color: #dcdccc;
}
/* line 283, ../_sass/screen.sass */
div.highlight .ow {
  color: #f0efd0;
}
/* line 285, ../_sass/screen.sass */
div.highlight .w {
  color: #ccc;
}
/* line 287, ../_sass/screen.sass */
div.highlight .mf, div.highlight .mh, div.highlight .mi, div.highlight .mo {
  color: #8cd0d3;
}
/* line 289, ../_sass/screen.sass */
div.highlight .sb, div.highlight .sc, div.highlight .sd, div.highlight .s2, div.highlight .se, div.highlight .sh, div.highlight .si, div.highlight .sx, div.highlight .sr, div.highlight .s1, div.highlight .ss {
  color: #cc9393;
}
/* line 291, ../_sass/screen.sass */
div.highlight .bp, div.highlight .vc {
  color: #efef8f;
}
/* line 293, ../_sass/screen.sass */
div.highlight .vg {
  color: #dcdccc;
}
/* line 295, ../_sass/screen.sass */
div.highlight .vi {
  color: #ffffc7;
}
/* line 297, ../_sass/screen.sass */
div.highlight .il {
  color: #8cd0d3;
}

/* line 300, ../_sass/screen.sass */
blockquote {
  font-size: 0.875em;
  line-height: 1.71429em;
  color: #333333;
  font-style: italic;
  width: 400px;
  margin: 0.2em 0;
  padding: 0.2em 40px;
  line-height: 1.45;
  position: relative;
}

/* line 311, ../_sass/screen.sass */
blockquote > p:before {
  color: #cccccc;
  display: block;
  content: "“";
  font-size: 80px;
  position: absolute;
  left: -15px;
  top: -20px;
  color: #7a7a7a;
}

/* line 321, ../_sass/screen.sass */
blockquote > p {
  margin: 1em 0 0.5em 0;
}

/* line 324, ../_sass/screen.sass */
.left > blockquote {
  margin-left: 0;
  margin-right: auto;
}

/* line 328, ../_sass/screen.sass */
.right > blockquote {
  margin-left: auto;
  margin-right: 0;
}

/* line 333, ../_sass/screen.sass */
blockquote cite {
  color: #999999;
  display: block;
  margin-top: 0px;
}

/* line 338, ../_sass/screen.sass */
blockquote cite:before {
  content: "— ";
}
