<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="/favicon.png" type="image/png" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="{{ site.description }}">
		<link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@jeroenhjanssens">
		<meta name="twitter:domain" content="jeroenjanssens.com">
		<meta name="twitter:creator" content="@jeroenhjanssens">
		{% if page.title %}
		  <meta name="twitter:title" content="{{ page.title }}">
		{% else %}
		<meta name="twitter:title" content="{{ site.title }}">
		{% endif %}
		{% if page.url %}
		<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
		{% endif %}
		{% if page.description %}
		  <meta name="twitter:description" content="{{ page.description }}">
		{% else %}
		  <meta name="twitter:description" content="{{ site.description }}">
		{% endif %}
		{% if page.image %}
		  <meta name="twitter:image:src" content="{{ site.url }}{{ page.image }}">
		{% else %}
		  <meta name="twitter:image:src" content="{{ site.url }}/img/jeroenjanssens.jpg">
		{% endif %}
	</head>
	<body>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-43246574-1', 'jeroenjanssens.com');
		  ga('send', 'pageview');
		</script>
		<div id="site">
			<div id="header">
				<h1><a href="/">{{ site.name }}</a></h1>
				<div id="description">{{ site.description }}</div>
				<div id="social">
					<ul>
						<li><a href="http://twitter.com/jeroenhjanssens/">Twitter</a></li>
						<li><a href="http://github.com/jeroenjanssens/">Github</a></li>
						<li><a href="http://www.linkedin.com/in/jeroenjanssens">LinkedIn</a></li>
						<li><a href="{{ site.url }}/feed.xml">RSS</a></li>
					<ul>
				</div>
			</div>
			<div id="content">
				{{ content }}
			</div>
		</div>
	</body>
</html>
